*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: grid;
    grid-template-columns: 1fr 3fr;
}

/* SIDEBAR NAV */

aside{
    display: grid;
    grid-template-rows: minmax(min-content, 100px) minmax(min-content, 300px) minmax(min-content, 100px);
    
}

aside * > * h2, h1{
    display: inline-block;
    margin-left: 13px;    
}

aside * svg:not(.dashboard svg){
    width: 25px;
    top: 0.30rem;
}

.dashboard svg{
    top: 0.65rem;
}

aside * svg{
    position: relative;    
}

.dashboard h1{
    font-size: 1.9rem;
}

.main-navs * h2, .support-navs * h2{
    font-size: 1.4rem;
}

aside > * {
    display: grid;    
}

a{
    cursor:pointer;
    text-decoration: none;    
}


/* MAIN CONTENT */

.container-top img{
    width: 50px;
    height: 50px;
}