* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --navbar-background-color: rgb(55, 153, 223);
}

body {
    display: grid;
    grid-template-columns: 1fr 5fr;
}

/* SIDEBAR NAV */

aside {
    display: grid;
    grid-template-rows: minmax(min-content, 50px) minmax(min-content, 100px) minmax(min-content, 100px);
    background-color: var(--navbar-background-color);
    gap: 50px;
}

aside *>* h2,
h1 {
    display: inline-block;
    margin-left: 13px;
}

aside * svg:not(.dashboard svg) {
    width: 25px;
    top: 0.30rem;
    margin-left: 7px;
}

.dashboard svg {
    top: 0.65rem;
}

aside * svg {
    position: relative;
}

.dashboard h1 {
    font-size: 1.9rem;
}

.main-navs * h2,
.support-navs * h2 {
    font-size: 1.4rem;
}

aside>* {
    display: grid;
    gap: 15px;
    padding-left: 15px;
}

aside a {
    color: white;
}

/* MAIN CONTENT */

a {
    cursor: pointer;
    text-decoration: none;
}

.container-top img {
    width: 50px;
    height: 50px;
}