*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: grid;
    grid-template-columns: 1fr 3fr;
}

/* SIDEBAR NAV */

aside{
    display: grid;
    grid-template-rows: minmax(min-content, 100px) minmax(min-content, 300px) minmax(min-content, 100px);
}

aside * > * h2, h1{
    display: inline-block;
}

aside > * {
    display: grid;
}

a{
    cursor:pointer;
}
/* MAIN CONTENT */

.container-top img{
    width: 50px;
    height: 50px;
}